body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-roboto: Roboto;
    --font-inter: Inter;
    --font-bai-jamjuree: "Bai Jamjuree";
  
    /* font sizes */
    --font-size-2xs: 11px;
    --font-size-smi: 13px;
    --font-size-base-4: 15.4px;
  
    /* Colors */
    --color-black: #000;
    --color-darkorange: #f27518;
    --color-white: #fff;
    --color-darkgray: #999;
    --color-red: #ff0000;
    --color-gray: #767676;
    --color-lightgray: #cad5e2;
    --color-silver: #bfbfbf;
  
    /* Paddings */
    --padding-2xs-5: 10.5px;
    --padding-sm: 14px;
    --padding-smi-5: 12.5px;
  
    /* Border radiuses */
    --br-10xs: 3px;
    --br-10xs-5: 2.5px;
  }
  